body {
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    height: 100%;
    background-color: #f4f4f4;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    color: #fff;
}

button {
    width: 117px;
    height: 42px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: normal;
    color: #3D3D3D;
}

.up {
    padding-top: 33px;
    background-color: #6943FF;
    height: 285px;
}

input[type=text] {
    font-size: 58px;
    font-weight: 800;
    color: #fff;
    border: 1px solid #B295FF;
    background-color: #6943FF;
    border-radius: 5px;
    margin: auto;
    width: 100px;
    display: block;
    text-align: center;
    margin-bottom: 27px;
    margin-top: 30px;
}

.down {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.converted {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;

}

.down > .converted > p:nth-child(2) {
    font-size: 14px;
    color: #353535;
}

#error {
    color: #fff;
}